$main-color: rgb(102,84,94);
$text-color: rgb(246,224,181);
$standard-spacing: 60px;

body {
    background-color: $main-color;
    color: $text-color;
}

* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    
}

ul {
    list-style: none;
    
    li {
       padding: 10px; 
    }
    li:hover {
        background-color: rgb(163,145,147);
    }
}

.info-box{
    display: flex;
    border: solid 1px $text-color;
    div{
        margin: 20px;
    }
    .image-box{
        flex: 1;
        height: 200px;
        background-color: rgb(163,145,147);
    }
    .text-box{
        flex: 2;
    }
}